fastapi
uvicorn[standard]
python-dotenv
python-multipart
langchain
langgraph
langsmith
langchain-openai
langchain-ollama
langchain-community
langchain-text-splitters
psycopg2-binary
pgvector
sqlalchemy
pypdf
pymupdf
unstructured[all-docs]
docling
sentence-transformers
rank-bm25
tiktoken
paddleocr
paddlepaddle
openai
